3---
import "@fontsource-variable/dm-sans";
import Container from "../components/Container.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { Icon } from "astro-icon/components";

const title = "CV";
const author = "Muhammad Fathur Rachman";
const description = "CV Muhammad Fathur Rachman";
---

<html lang="id">
  <head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "lofi");
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <meta charset="utf-8" />
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <link rel="icon" type="image/png" href="/favicon.webp" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} {author}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <div
      class="flex items-center absolute top-4 right-4 md:top-6 md:right-6 lg:top-8 lg:right-8 xl:top-10 xl:right-10 z-10"
    >
      <Icon name="carbon:moon" class="w-4 h-4" />
      <input
        type="checkbox"
        data-toggle-theme="forest,lofi"
        data-act-class="ACTIVECLASS"
        class="toggle toggle-sm mx-1 bg-secondary"
        checked
      />
      <Icon name="carbon:light" class="w-4 h-4" />
    </div>

    <div
      class="divider mx-auto h-fit max-w-3xl w-[95vw] flex flex-nowrap bg-secondary"
    >
    </div>
    <main
      class="mx-auto flex-grow max-h-[90vh] md:max-h-[70vh] max-w-3xl overflow-y-scroll py-2 grid w-[95vw]"
    >
      <div class="container">
        <Container />
      </div>
     <div class="container" />
        <h2>Konten Sementara</h2>
        <h3>Meet Ariaseta</h3>
        <pre>
        <span class="center">Konten Sementara</span>
        <span class="center">Meet Ariaseta</span> <br>
Yg ingin dibahas:
---
1. Konsultasi karir (web developer)
2. Usaha madu murni saya

*Penjelasan lebih rincinya ada di additional notes.

Additional notes:
---
Sebelumnya perkenalkan nama saya Muhammad Fathur Rachman.

Saya lulusan S1 jurusan Sistem Informasi dari STMIK Nusa Mandiri bulan September 2019 dan saat ini hampir berumur 30 tahun. Dan sejak 2020 saya berjualan madu mentah (raw honey) multiflora sampai sekarang (Madu Murni Bekasi SP | madumurnibekasisp.biz.id).

Setelah saya lulus sampai sekarang, saya sudah mengikuti berbagai kegiatan pelatihan gratis yg diadakan dari Dicoding, Baparekraf Digital Talent, DTS Kominfo, dll. Meskipun sudah banyak mengikuti pelatihan & tutorial sampai saat ini saya belum bisa membuat sebuah web yg bisa menjadi uang.
Keadaan saya saat sekarang ini biasa disebut Skill Issue & Tutorial Hell & Impostor Syndrome (Ragu dan akhirnya takut melamar pekerjaan karena sering sekali melihat job desc & persyaratannya bagai superman tapi gaji dibawah UMR dan merasa Skill Issue memperparah kondisi ini). [1.]
A. Saya ingin konsultasi dengan mas Ariaseta mengenai permasalahan saya diatas?
B. Apakah dengan mengikuti membuat program² yg seperti mas buat dengan nocode/lowcode bisa menghasilkan produk yg berguna untuk saya/usaha saya/keluarga saya/lingkungan sekitar saya atau bahkan bisa menjadi produk yg bisa dikomersilkan?
C. Apakah mas Ariaseta bisa membuat mentoring seperti yg mas buat dekat rumah mas di Semarang, tapi ini di Kota Bekasi/jika tidak memungkinkan bisa secara online?
---
Dan jika masih ada waktu untuk membahasnya, yg selanjutnya adalah usaha/bisnis.

Saya sudah memulai usaha saya sejak 2020, tapi masih sedikit yg membeli madu murni saya. Kebanyakan pembeli yg saya tawarkan dari saudara & temen sekolah & teman belajar Al-Qur'an di LBIQ & guru & guru ngaji & jemaah masjid dekat rumah dan untuk online dari beberapa yg nanya baru 1 yg berhasil menjadi penjualan. [2.]
A. Saya ingin berkonsultasi terkait permasalahan usaha madu murni saya yg gini-gini aja?
---
A. Apakah meet kita ada rekamannya?
B. Kalau ada, apakah saya boleh meminta rekamannya untuk merangkum hasilnya, apa saja yg perlu saya perbuat untuk memperbaiki kondisi saya saat ini?
        </pre>
     </div>
    </main>
    <Footer class="flex justify-center items-center py-4" />
  </body>
</html>

<style is:global>
  body {
    font-family: "DM Sans Variable", sans-serif;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 480px) {
    * {
      font-size: 12px;
    }
  }

  .overflow-y-scroll::-webkit-scrollbar {
    width: 3px;
  }

  .overflow-y-scroll::-webkit-scrollbar-thumb {
    background-color: oklch(var(--s));
  }

  .overflow-y-scroll {
    scrollbar-width: 1px;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
      flex-wrap: wrap;
    }
  }
</style>
